/******************************
* Definitions
*******************************/

blue1 = #0B5394
blue2 = #3D85C7

lightgray = #f4f4f4
midgray =   #dcdcdc
textgray =  #b1b0b0
textdarkgray = #999

desktop = 1200px
tablet =  767px
mobile =  480px
tablet-media = "(max-width: %s)" % tablet
mobile-media = "(max-width: %s)" % mobile
tablet-scale = (tablet/desktop)
mobile-scale = (mobile/desktop)

basefont = 18px

/******************************
* Functions
*******************************/

vendor(prop, args)
  -moz-{prop} args
  -webkit-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

gray(luminosity)
  hsl(0, 0, luminosity)

font-size-scaled(size)
  font-size round((size/basefont)% * 100, 3);
  
rscale(prop, value)
  {prop} value
  @media tablet-media
    {prop} value * tablet-scale
  @media mobile-media
    {prop} value * mobile-scale
    

/******************************
* Base
*******************************/

*
  box-sizing border-box

body
  color black
  background-color white
  font-family "Open Sans"
  font-weight 300
  font-size basefont
  line-height 1.5
  margin 0
  padding 0

h1,h2,h3
  line-height 1
  font-weight 300
  margin-top 2em
  margin-bottom 0.5em
  &:first-child
    margin-top 0

h1
  font-size-scaled 28px

h2
  font-size-scaled 22px

h3
  font-size-scaled 18px

a
  color blue2
  cursor pointer
  text-decoration none
  &:hover
    color blue1
    text-decoration none

li
  line-height 1.2

p
  margin-bottom 1.5em

strong
  font-weight 400

input[type=text], input[type=email], button, select, textarea
  max-width 100%
  font-family "Open Sans"
  font-weight 400
  font-size-scaled 12px
  line-height 2.2em
  border solid 2px midgray
  padding-left 1em
  margin 0 0 1.5em 0

section
  padding 5% 0
  overflow auto

hr
  border solid midgray
  border-width 0 0 1px 0
  margin-bottom 4%
  padding-bottom 5%


/******************************
* Modules
*******************************/

.content
  max-width 830px
  margin 0 auto
  padding 0 2em
  box-sizing content-box
.content-narrow
  max-width 768px
  margin 0 auto
  padding 0 2em
  box-sizing content-box
.content-full
  padding 0 2em

.vert
  display inline-block
  vertical-align middle

center-spaced(space = 10%)
  overflow auto
  text-align center
  &> *
    display inline-block
    margin-right space
    &:last-child
      margin-right 0
.center-spaced
  center-spaced()

.big-announce
  font-size 156%
  line-height 1.5

.announce
  font-size 140%
  line-height 1.5

.logo1
  color black
.logo2
  color blue1
.logo3
  color blue2

.page-title
  font-size-scaled 48px
  margin-right 20px

.page-subtitle
  font-size-scaled 18px

.lesserpage-title
  font-size-scaled 28px
  margin-right 20px

.lesserpage-subtitle
  font-size-scaled 16px

.theme1
  background-color lightgray

.theme-dark
  color white
  background-color gray(15)
  a
    color lighten(blue1, 60%)

.border-bottom
  border-bottom solid 5px gray(50)

button()
  border 0
  background-color blue2
  font-size-scaled 13px
  color white
  padding 1em 3em
  text-align center
  &:hover
    background-color blue1
    color white

.button
  button()

.button-giant
  display block
  font-size-scaled 18px

.lead-more
  font-weight 400
  margin-bottom 80px

.subtext
  background-color white
  padding 30px 0

.page-footer
  padding 2% 0

.label-short
  float left
  width 46px
  white-space nowrap

.label-long
  width 323px

.section-slim
  padding 2% 0

/******************************
* Page-Specific
*******************************/

